a {
  text-decoration: none;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

#one {
  min-width: 1276px;
}

#two {
  min-width: 1024px;
}

@media screen and (max-width: 1276px) { /* Specific to this particular image */
  #one {
    left: 50%;
    margin-left: -638px;   /* 50% */
  }
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #two {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}